.mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--darkblue-color);
    z-index: 20;
    padding: var(--m-100);
    color: #fff;
    display: none;
    overflow: hidden;

    &.is--active {
        display: block;
    }

    &__nav-link {
        font-size: 30px;
        font-weight: 700;
        line-height: 68px;
        transition: 0.2s ease;
        &:hover {
            color: #0989FF;
        }
    }

    &__list{
        margin: 50px 0;
    }

    &__item {
        margin-bottom: 20px;
        img {
            margin-right: 10px;
            margin-top: 3px;
        }
    }
}

.mobile-social {
    &__list {
        display: flex;
        gap: 30px;
    }
    &__link {
        svg {
            transition: 0.2s ease;
            fill: #B0B0B0;
        }
        &:hover {
            svg {
                fill: #0989FF;
            }
        }
    }
}

.mobile-menu {
    color: #fff !important;
    position: absolute;
    right: 50px;
    top: 50px;
}