footer.footer
    .container
        .footer__offers
            .footer__offers-block
                .footer__title Услуги
                ul.footer__offers-list
                    li.footer__offers-item Контрактная логистика ВЭД
                    li.footer__offers-item Забор и упаковка груза
                    li.footer__offers-item Осмотр и инспекция груза
                    li.footer__offers-item Хранение
                    li.footer__offers-item Таможенное оформление
                        ul
                            li стандартный ввоз
                            li временный ввоз
                            li транзит
                            li re-export:

            .footer__offers-block
                .footer__title Сборные грузы
                ul.footer__offers-list
                    li.footer__offers-item Доставка из/в Европу
                    li.footer__offers-item Доставка в СНГ
                    li.footer__offers-item Доствка из Китая
                    li.footer__offers-item Доставка из Кореи
                    li.footer__offers-item Доставка из Израиля
                    li.footer__offers-item Доставка из Украины
                    li.footer__offers-item Доставка из Америки
                    li.footer__offers-item Доставка из Канады
                    li.footer__offers-item Доставка из/в Северную Африку
            
        .footer__offices
            .footer__offices-block
                .footer__title Наши офисы
                .footer__offices-container
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Novorossiysk
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Domodedovo
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Tel-aviv
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Tunis
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com

                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Vladivostok
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Sheremetyevo
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Shanghai
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com
                    .footer__offices-box
                        .footer__offices-title
                            img(src="images/icons/footer-map.svg", alt="")
                            span Budapest
                        .footer__offices-text
                            img(src="images/icons/footer-envelope.svg", alt="")
                            span info@vedexpress.com

        .footer__contacts
            .footer__title Контакты
            ul.footer__contacts-list
                li.footer__contacts-item
                    img(src="images/icons/footer-icon1.svg", alt="")
                    span ООО «ВЭДЭКСПРЕСС»
                li.footer__contacts-item
                    img(src="images/icons/footer-icon2.svg", alt="")
                    span ИНН 7811767459
                li.footer__contacts-item
                    img(src="images/icons/footer-icon3.svg", alt="")
                    span 192029, г.Санкт-Петербург, пр. Обуховской обороны д.76,корп.7, лит.А, пом. 2313Б
                li.footer__contacts-item
                    img(src="images/icons/footer-icon4.svg", alt="")
                    span info@vedexpress.com
                li.footer__contacts-item
                    img(src="images/icons/footer-icon5.svg", alt="")
                    span пн-вс: 10.00-18.00

    