.mobile
    nav.mobile__nav
        ul.mobile__nav-list
            li.mobile__nav-item
                a.mobile__nav-link(href="#about") О нас
            li.mobile__nav-item
                a.mobile__nav-link(href="#services") Услуги
            li.mobile__nav-item
                a.mobile__nav-link(href="#delivery") Международные перевозки
            li.mobile__nav-item
                a.mobile__nav-link(href="#business") Решение для бизнеса
            li.mobile__nav-item
                a.mobile__nav-link(href="#") Сборные грузы
            li.mobile__nav-item
                a.mobile__nav-link(href="#") Документы
            li.mobile__nav-item
                a.mobile__nav-link(href="#") Информация

    ul.mobile__list
        li.mobile__item
            img(src="images/icons/footer-icon4-green.svg", alt="")
            span info@vedexpress.com
        li.mobile__item
            img(src="images/icons/footer-icon5-green.svg", alt="")
            span пн-вс: 10.00-18.00

    ul.mobile-social__list
        li.mobile-social__item
            a.mobile-social__link(href="#")
                svg(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14 0C6.26792 0 0 6.26792 0 14C0 21.7321 6.26792 28 14 28C21.7321 28 28 21.7321 28 14C28 6.26792 21.7321 0 14 0ZM19.3842 15.7952C19.3842 15.7952 20.6223 17.0173 20.9271 17.5846C20.9358 17.5963 20.9402 17.6079 20.9431 17.6137C21.0671 17.8223 21.0963 17.9842 21.035 18.1052C20.9329 18.3065 20.5829 18.4056 20.4633 18.4144H18.2758C18.1242 18.4144 17.8062 18.375 17.4212 18.1096C17.1252 17.9025 16.8335 17.5627 16.5492 17.2317C16.1248 16.7387 15.7573 16.3129 15.3869 16.3129C15.3398 16.3128 15.2931 16.3202 15.2483 16.3348C14.9683 16.4252 14.6096 16.8248 14.6096 17.8894C14.6096 18.2219 14.3471 18.4129 14.1619 18.4129H13.16C12.8187 18.4129 11.041 18.2933 9.46604 16.6323C7.53812 14.5979 5.80271 10.5175 5.78812 10.4796C5.67875 10.2156 5.90479 10.0742 6.15125 10.0742H8.36062C8.65521 10.0742 8.75146 10.2535 8.81854 10.4125C8.89729 10.5977 9.18604 11.3342 9.66 12.1625C10.4285 13.5129 10.8996 14.0612 11.2773 14.0612C11.3481 14.0604 11.4177 14.0424 11.48 14.0087C11.9729 13.7346 11.881 11.9773 11.8592 11.6127C11.8592 11.5442 11.8577 10.8267 11.6054 10.4825C11.4246 10.2331 11.1169 10.1383 10.9302 10.1033C11.0058 9.99908 11.1053 9.91454 11.2204 9.85687C11.5587 9.68771 12.1683 9.66292 12.7735 9.66292H13.1104C13.7667 9.67167 13.9358 9.71396 14.1735 9.77375C14.6548 9.88896 14.665 10.1996 14.6227 11.2627C14.6096 11.5646 14.5965 11.9058 14.5965 12.3083C14.5965 12.3958 14.5921 12.4892 14.5921 12.5883C14.5775 13.1294 14.56 13.7433 14.9421 13.9956C14.9919 14.0269 15.0495 14.0435 15.1083 14.0437C15.241 14.0437 15.6406 14.0437 16.7227 12.1873C17.0564 11.5898 17.3464 10.9688 17.5904 10.3294C17.6123 10.2915 17.6765 10.1748 17.7523 10.1296C17.8083 10.1011 17.8703 10.0865 17.9331 10.0873H20.5304C20.8133 10.0873 21.0073 10.1296 21.0437 10.239C21.1079 10.4125 21.0321 10.9419 19.8465 12.5475L19.3171 13.246C18.2423 14.6548 18.2423 14.7262 19.3842 15.7952Z")
        li.mobile-social__item
            a.mobile-social__link(href="#")
                svg(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M14 0C6.26792 0 0 6.26792 0 14C0 21.7321 6.26792 28 14 28C21.7321 28 28 21.7321 28 14C28 6.26792 21.7321 0 14 0ZM17.3162 9.67458H15.2119C14.9625 9.67458 14.6854 10.0027 14.6854 10.4387V11.9583H17.3177L16.9196 14.1254H14.6854V20.631H12.2019V14.1254H9.94875V11.9583H12.2019V10.6837C12.2019 8.855 13.4706 7.36896 15.2119 7.36896H17.3162V9.67458Z")
        li.mobile-social__item
            a.mobile-social__link(href="#")
                svg(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M16.3377 13.7565L13.0623 12.2281C12.7765 12.0954 12.5417 12.2442 12.5417 12.5606V15.4394C12.5417 15.7558 12.7765 15.9046 13.0623 15.7719L16.3363 14.2435C16.6235 14.1094 16.6235 13.8906 16.3377 13.7565ZM14 0C6.26792 0 0 6.26792 0 14C0 21.7321 6.26792 28 14 28C21.7321 28 28 21.7321 28 14C28 6.26792 21.7321 0 14 0ZM14 19.6875C6.83375 19.6875 6.70833 19.0415 6.70833 14C6.70833 8.95854 6.83375 8.3125 14 8.3125C21.1663 8.3125 21.2917 8.95854 21.2917 14C21.2917 19.0415 21.1663 19.6875 14 19.6875Z")

    .header-menu.mobile-menu(data-menu-close)
        img.header-menu__image(src="images/icons/menu-close.svg", alt="")
        | Закрыть